<div>
    <h3 class="float-md-start mb-0"><a class="text-decoration-none text-white" href="/">OmniComm</a></h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">

        <a class="nav-link fw-bold py-1 px-0 <% if (page === 'chat') { %> active <% } %>" href="/">Chat</a>
        <a class="nav-link fw-bold py-1 px-0 <% if (page === 'email') { %> active <% } %>" href="/mail">Email</a>
        <a class="nav-link fw-bold py-1 px-0 <% if (page === 'sms') { %> active <% } %>" href="/sms">SMS</a>
        <a class="nav-link fw-bold py-1 px-0 <% if (page === 'voice') { %> active <% } %>" href="/voice">Voice</a>
        <form class="ms-3" id="logoutForm" action="/auth/logout" method="POST">
            <button type="submit" class="nav-link fw-bold py-1 px-0">
                Logout
            </button>
        </form>

    </nav>
</div>